@mixin flex_centr {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@mixin pink_parag_style {
  font-family: Montserrat-Bold;
  font-weight: 700;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.2px;
  color: #ff6551;
}

@mixin section_parag_mixin {
  font-family: Montserrat-Light;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.2px;
}

@mixin bold_grey_parag {
  font-family: Montserrat-ExtraBold;
  font-weight: 700;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.2px;
  color: #737373;
}

@mixin price_style {
  font-family: Montserrat-Light;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.1px;
}
